<h3 style="text-align: center;">{{titulo}}</h3>

<div class="contenedor">
    <form (submit)="guardarEmpleado()" #empleadoForm="ngForm">
        <fieldset>
            <legend>Datos Básicos</legend>
            <div>
                <label for="nombre">nombre: </label>
                <input name="nombre" [(ngModel)]="empleado.nombre" id="nombre" type="text" required>
            </div>
            <div>
                <label for="apellido">apellido: </label>
                <input name="apellido" [(ngModel)]="empleado.apellido" id="apellido" type="text" required>
            </div>
            <div>
                <label for="cargo">cargo: </label>
                <input name="cargo" [(ngModel)]="empleado.cargo" id="cargo" type="text" required>
            </div>
            <div>
                <label for="salario">salario: </label>
                <input name="salario" [(ngModel)]="empleado.salario" id="salario" type="text">
            </div>
        </fieldset>

        <fieldset>
            <legend>Proyectos</legend>
            <button type="button" (click)="actualizarIn($event)">+</button>
            <button type="button" (click)="actualizarIn($event)">-</button>
            <div *ngFor="let proyecto of empleado.proyectos; let i = index">
                <h4>proyecto {{i+1}}</h4>
                <div>
                    <label for="nProyecto">Nombre Proyecto: </label>
                    <input name="nProyecto" [(ngModel)]="proyecto.nombre" id="nProyecto" type="text">
                </div>
                <div>
                    <label for="cProyecto">Código Proyecto: </label>
                    <input name="cProyecto" [(ngModel)]="proyecto.codigo" id="cProyecto" type="text">
                </div>
                <div>
                    <label for="fiProyecto">Fecha Inicio: </label>
                    <input name="fiProyecto" [(ngModel)]="proyecto.fechaInicio" id="fiProyecto" type="text">
                </div>
                <div>
                    <label for="ffProyecto">Fecha Fin: </label>
                    <input name="ffProyecto" [(ngModel)]="proyecto.fechaFin" id="ffProyecto" type="text">
                </div>
            </div>
        </fieldset>

        <div>
            <button type="button">Cancelar</button>
            <button type="submit" [disabled]="!empleadoForm.form.valid">Guardar</button>
        </div>
    </form>
</div>