<h3 style="text-align: center;">Ingresar nuevo empleado</h3>

<div  class="contenedor">
    <form (submit)="guardarEmpleado()" #empleadoForm="ngForm">
        <fieldset>
            <legend>Datos Básicos</legend>
            <div>
                <label for="nombre">nombre: </label>
                <input name="nombre" [(ngModel)]="empleado.nombre" id="nombre" type="text" required>
            </div>
            <div>
                <label for="apellido">apellido: </label>
                <input name="apellido" [(ngModel)]="empleado.apellido" id="apellido" type="text" required>
            </div>
            <div>
                <label for="cargo">cargo: </label>
                <input name="cargo" [(ngModel)]="empleado.cargo" id="cargo" type="text" required>
            </div>
            <div>
                <label for="salario">salario: </label>
                <input name="salario" [(ngModel)]="empleado.salario" id="salario" type="text">
            </div>
        </fieldset>
        
        <fieldset>
            <legend>Proyectos</legend>
            <button (click)="actualizarIn()">+</button>
            <div *ngFor="">
                <label for="salario">salario: </label>
                <input name="salario" [(ngModel)]="empleado.salario" id="salario" type="text">
            </div>
        </fieldset>
        

        <div>
            <button>Cancelar</button>
            <button type="submit" [disabled]="!empleadoForm.form.valid">Guardar</button>
        </div>
    </form>
</div>
