<h3>detalles del empleado</h3>
<div>
    <h4>{{empleado.nombre}}</h4>
    <p>nombre: {{empleado.nombre}} {{empleado.apellido}}</p>
    <p>cargo: {{empleado.cargo}}</p>
    <p>salario: {{empleado.salario}}</p>
    <p>Historico de pagos: {{empleado.pagos}} </p>
    <h5>proyectos</h5>
    <div class="proyecto" *ngFor="let proyecto of empleado.proyectos">
        <p>Nombre proyecto: {{proyecto.nombre}}</p>
        <p>Código proyecto: {{proyecto.codigo}}</p>
        <p>Fecha de Inicio: {{proyecto.fechaInicio}}</p>
        <p>Fecha final: {{proyecto.fechaFin}}</p>
    </div>
    <div>
        <button (click)="regresar()">Regresar</button>
        <button [routerLink]="['/editar-empleado', empleado.idEmpleado]">Editar</button>
        <button (click)="eliminarEmpleado()" >Eliminar empleado</button>
    </div>
</div>